h1 {
    text-align: center;
}

body {
    background-image: url("upfeathers.png");
}

.pic {
    width: 200px;
}

div{
  font-family: Arial; border: 5px solid green; padding:10px;
}
.container {
  width: 960px;
  margin: 0 auto;
}

