h1 {
    text-align: center;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/db/493px-Soccer_field_-_empty.png") ;
    background-size:cover;
    background-repeat:no-repeat;
    height:100%;
}

#wrapper {
  min-height: 100%;
  position:relative;
}

.container {
  width: 960px;
  margin: 0 auto;
  font-family: Arial;
  border: 5px solid green; 
  padding:10px;
  background: rgba(0, 128, 0, 0.5);
}

.player:hover {
  color: blue;
}

nav a {
  color: red;
  text-decoration: 900px;
}
.pages {
  text-align: center;
}
p span{
  color: red;
  text-decoration: overline;
}

.active {
  color:orange; font-weight: bolder  
}

table {
  border-collapse: collapse; border: 1px solid black;
}

th, td {
  border: 3px solid;
}
nav a:active {
  color: grey;
}
ul li {
  display: block;
}

ol li {
  display: inline;
}
.nav {
  text-align:center;
}
.european {
  text-align: center;
}
.iframe {
   text-align: center;
}
.wholevid {
  text-align:center;
}

.baggio {
  border: 5px solid red;
}
.dempseyvid {
border: 5px solid blue; 
float:left;
}

.messivid {
  border: 5px solid skyblue;
}

.raulvid {
  border: 5px solid yellow;
}

.xavivid {
  border: 5px solid yellow;
}

.pelevid {
  border: 5px solid yellow;
  width:420px;
  height:315px;
  
}

p {
  margin-bottom: 20px;
  color:white;
}
body {
  width: 960px;
  margin: 0px auto;
}
table {
  background-color: silver;
}

.allvids {
  width:560px;
  height: 315px;
  margin: 0 auto;
}

a {
 text-decoration: none;
 color:yellow;
}
.eu-players {
  font-size: 120%;
  font-weight: bold;
}

.fireworks {
  width:100%;
  text-align:center;
}

.ns-american {
  text-align: center;
  color: white;
  font-weight:bold;
}

.name {
  font-weight:bold;
}

.nacogdoches:hover {
  color: blue; 
}

.bottom 
{
   padding: 0px 2px 2px 3px;    
   border-bottom: 10px white solid;
   width: 100%;
   position:relative;
}

.video-font {
  font-size:50px;
  font-family:Arial;
  color: yellow;
}

.websites {
  text-align:center;
}

.soccer-ball {
  height:50px;
  position:fixed;
  left:10px;
}